In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [3]:
# Read in the LAX temperature data
temperature_df = pd.read_csv('../Resources/lax_temperature.csv')
temperatures = temperature_df['HourlyDryBulbTemperature']
temperature_df

          STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0     72295023174  2019-01-01T00:49:00       FM-16                        52
1     72295023174  2019-01-01T00:53:00       FM-15                        51
2     72295023174  2019-01-01T01:53:00       FM-15                        52
3     72295023174  2019-01-01T02:53:00       FM-15                        49
4     72295023174  2019-01-01T03:53:00       FM-15                        43
...           ...                  ...         ...                       ...
3524  72295023174  2019-04-18T21:53:00       FM-15                        60
3525  72295023174  2019-04-18T22:06:00       FM-16                        59
3526  72295023174  2019-04-18T22:12:00       FM-16                        58
3527  72295023174  2019-04-18T22:36:00       FM-16                        58
3528  72295023174  2019-04-18T22:53:00       FM-15                        58

[3529 rows x 4 columns]

In [ ]:
# Demonstrate calculating measures of central tendency
mean_numpy = np.mean(temperatures)
print(f"The mean temperature at the LAX airport is {mean_numpy}")

median_numpy = np.median(temperatures)
print(f"The median temperature at the LAX airport is {median_numpy}")

mode_scipy = sts.mode(temperatures)
print(f"The mode temperature at the LAX airport is {mode_scipy}")

In [ ]:
# Characterize the data set using matplotlib and stats.normaltest
plt.hist(temperatures)
plt.xlabel('Temperature (°F)')
plt.ylabel('Counts')
plt.show()
print(sts.normaltest(temperatures.sample(50)))

In [ ]:
# Demonstrate calculating the variance and standard deviation using the different modules
var_numpy = np.var(temperatures,ddof = 0)
print(f"The population variance using the NumPy module is {var_numpy}")

sd_numpy = np.std(temperatures,ddof = 0)
print(f"The population standard deviation using the NumPy module is {sd_numpy}")

In [ ]:
# Calculate the 68-95-99.7 rule using the standard deviation
print(f"Roughly 68% of the data is between {round(mean_numpy-sd_numpy,3)} and {round(mean_numpy+sd_numpy,3)}")
print(f"Roughly 95% of the data is between {round(mean_numpy-2*sd_numpy,3)} and {round(mean_numpy+2*sd_numpy,3)}")
print(f"Roughly 99.7% of the data is between {round(mean_numpy-3*sd_numpy,3)} and {round(mean_numpy+3*sd_numpy,3)}")

In [ ]:
# Demonstrate calculating the z-scores using SciPy
z_scipy = sts.zscore(temperatures)
print(f"The z-scores using the SciPy module are {z_scipy}")