In [1]:
# Dependencies
import pandas as pd
import numpy as py

In [2]:
# Load Files
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

In [3]:
# Read Files
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

In [4]:
# Combine the data into a single dataset.
combined_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
combined_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# District Summary

# Total Schools
tot_schools = len(combined_data["school_name"].unique())

# Total Students
tot_student = len(combined_data["Student ID"].unique())

# Total Budget
tot_budget = school_data["budget"].sum()

# Average Math Score
av_math_score = combined_data["math_score"].mean()

# Average Reading Score
av_reading_score = combined_data["reading_score"].mean()

# % Passing Math
sum_pass_math = (combined_data["math_score"]>70).sum()
percent_pass_math = (sum_pass_math/tot_student)*100

# % Passing Reading
sum_pass_reading = (combined_data["reading_score"]>70).sum()
percent_pass_reading = (sum_pass_reading/tot_student)*100

# Overall Passing Rate
percent_pass_overall = (percent_pass_math + percent_pass_reading)/2

In [6]:
dist_summary = pd.DataFrame({"Total Schools":[tot_schools], 
                                "Total Students":[tot_student], 
                                "Total Budget":[tot_budget], 
                                "Average Math Score":[av_math_score], 
                                "Average Reading Score":[av_reading_score],
                                "% Passing Math":[percent_pass_math],
                                "% Passing Reading":[percent_pass_reading], 
                                "% Overall Passing":[percent_pass_overall]})
dist_summary["Total Students"] = dist_summary["Total Students"].map("{:,}".format)
dist_summary["Total Budget"] = dist_summary["Total Budget"].map("${:,.2f}".format)
dist_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,72.392137,82.971662,77.681899

In [7]:
# School Name
by_school = combined_data.set_index('school_name').groupby(['school_name'])

# School Types
sch_types = school_data.set_index('school_name')['type']

# Total Number of Students
stu_per_sch = by_school['Student ID'].count()

# Total School Budget
sch_budget = school_data.set_index('school_name')['budget']

# Per Student Budget
stu_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

# Average Math Score
avg_math = by_school['math_score'].mean()

# Average Reading Score
avg_read = by_school['reading_score'].mean()

# % Passing Math
pass_math = combined_data[combined_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch*100 

# % Passing Reading 
pass_read = combined_data[combined_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch*100 

# # Percentage Overall Passing
overall = combined_data[(combined_data['reading_score'] >= 70) & (combined_data['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_sch*100 

sch_summary = pd.DataFrame({
    "School Type": sch_types,
    "Total Students": stu_per_sch,
    "Per Student Budget": stu_budget,
    "Total School Budget": sch_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})



sch_summary = sch_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

# Format Columns
sch_summary.style.format({"Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}"})

In [8]:
# Top Performing Schools (By % Overall Passing)
top_schools = sch_summary.sort_values("Overall Passing Rate", ascending=False)

# Format Columns
top_schools.head().style.format({"Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}"})

In [9]:
# Bottom Performing Schools (By % Overall Passing)
bot_schools = sch_summary.sort_values(['Overall Passing Rate'], ascending=True)
bot_schools.head()

bot_schools.head().style.format({'Total School Budget': "${:,}", 
                          'Per Student Budget': "${:.0f}"})

In [30]:
# Average Math Score for students of each grade level

av_math_9th_grade = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
av_math_10th_grade = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
av_math_11th_grade = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
av_math_12th_grade = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# Create a dataframe for math at various grade levels
average_math = pd.DataFrame = ({
        "9th": av_math_9th_grade, 
        "10th": av_math_10th_grade,
        "11th": av_math_11th_grade, 
        "12th": av_math_12th_grade})


#average_math[['9th','10th','11th','12th']]

#average_math