In [1]:
from bs4 import BeautifulSoup
import requests
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Driver [C:\Users\hbons\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

### NASA Mars News

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
for x in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    news_titles = soup.find('div', class_='content_title').text
print(news_titles)

What's Mars Solar Conjunction, and Why Does It Matter?

In [5]:
for x in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    news_para = soup.find('div', class_='article_teaser_body').text
print(news_para)

NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.

In [6]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [44]:
url = 'https://spaceimages-mars.com'
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)
html=browser.html
soup = BeautifulSoup(html, 'html.parser')

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430

[WDM] - Driver [C:\Users\hbons\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [51]:
image = soup.find_all('div', class_='fancybox-outer')

### Mars Facts

In [9]:
url = 'https://galaxyfacts-mars.com'

In [16]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
#Converting to Pandas DataFrame and renaming the columns

mars_facts = tables[1]
mars_facts.columns = ['Item', 'Measurement']
mars_facts

                   Item                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
#Resetting the index to 'Item'

mars_facts.set_index('Item', inplace=True)
mars_facts

                                        Measurement
Item
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
#Converting the table to an HTML string

html_table = mars_facts.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n    </tr>\n    <tr>\n      <th>Item</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [43]:
#Launches Website and Parses Data into Beautiful Soup.
#cerberus url
url = 'https://marshemispheres.com/'
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)
html=browser.html
soup = BeautifulSoup(html, 'html.parser')
cerberus_url = (soup.find_all('div', class_='downloads').li.a.get('href'))

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Driver [C:\Users\hbons\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

AttributeError: ResultSet object has no attribute 'li'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [ ]:
image = (soup.find_all('div', class_='carousel_items')[0].a.get('data-fancybox-href'))

In [ ]:

for image in range(1):
  
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')

        image = soup.find('div', class_='wide-image')
        print(image)
        
        browser.links.find_by_partial_text('Next').click()